.other {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 62.5% 37.5%;
  align-items: center;
}

.other .left {
  font-size: var(--content);
  line-height: var(--line-height-content);
  color: var(--text);
}

.other .left a {
  color: var(--primary);
}

.other .right {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .other {
    width: 85%;
    grid-template-columns: 70% 30%;
    transform: translateY(2%);
  }
}

@media (max-width: 768px) {
  .other {
    width: 95%;
    height: 90%;
    grid-template-columns: 1fr;
  }

  .other .left {
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .other {
    transform: translateY(7.5%);
  }

  .other .right img {
    width: 50%;
  }
}
