.other {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 58.5% 38.5% 3%;
  align-items: center;
}

.other .left {
  display: flex;
  font-size: var(--content);
  line-height: 100%;
  color: var(--text);
}

.other .left a {
  color: var(--primary);
}

.other .right {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .other {
    width: 95%;
    height: 90%;
    grid-template-columns: 1fr;
    transform: translateY(3%);
  }

  .other .left {
    text-align: center;
    justify-content: center;
  }
}
