.highlight {
  color: var(--primary);
}

.about {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 35% 55% 10%;
  align-items: center;
}

.about .left {
  display: flex;
  justify-content: center;
}

.ihwa {
  max-width: 600px;
  min-width: 275px;
}

.about .right {
  display: flex;
  justify-content: center;
  font-size: var(--title);
  line-height: 100%;
  color: var(--text);
}

.indent-text {
  padding-left: 2.5vw;
}

@media (max-width: 768px) {
  .about {
    width: 95%;
    height: 90%;
    grid-template-columns: 1fr;
    transform: translateY(2.5%);
  }

  .ihwa {
    width: 50%;
  }

  .about .right {
    text-align: center;
    justify-content: center;
  }

  .indent-text {
    padding-left: 0;
  }
}
