.about {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.about .left {
  display: flex;
  justify-content: center;
}

/* unsure about what to do with the 5% scaling */
.about .right {
  font-size: var(--content);
  line-height: var(--line-height-content);
  color: var(--text);
  padding-left: 5%;
}

.about-img {
  width: 85%;
  max-width: 500px;
  min-width: 225px;
}

@media (max-width: 1024px) {
  .about {
    width: 85%;
    grid-template-columns: 32.5% 67.5%;
    transform: translateY(2%);
  }

  .about-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about {
    width: 95%;
    height: 90%;
    grid-template-columns: 1fr;
  }

  .about .left {
    justify-content: center;
  }

  .about-img {
    width: 45%;
  }

  .about .right {
    text-align: center;
    justify-content: center;
    padding-left: 0;
  }

  .indent-text {
    padding-left: 0;
  }
}
