.home {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.home .left {
  font-size: var(--title);
  line-height: var(--line-height-title);
  color: var(--text);
}

.home .right {
  display: flex;
  justify-content: center;
}

.home-img {
  width: 85%;
  max-width: 500px;
  min-width: 225px;
}

@media (max-width: 1024px) {
  .home {
    width: 85%;
    grid-template-columns: 67.5% 32.5%;
    transform: translateY(2%);
  }

  .home-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home {
    width: 95%;
    height: 90%;
    grid-template-columns: 1fr;
  }

  .home .left {
    text-align: center;
    justify-content: center;
  }

  .indent-text {
    padding-left: 0;
  }

  .home-img {
    width: 45%;
    min-width: 250px;
  }
}
