.highlight {
  color: var(--primary);
}

.home {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 55% 35% 10%;
  align-items: center;
}

.home .left {
  display: flex;
  font-size: var(--title);
  line-height: 100%;
  color: var(--text);
}

.indent-text {
  padding-left: 2.5vw;
}

.home .right {
  display: flex;
  justify-content: center;
}

.zena {
  max-width: 600px;
  min-width: 275px;
}

@media (max-width: 768px) {
  .home {
    width: 95%;
    height: 90%;
    grid-template-columns: 1fr;
    transform: translateY(2.5%);
  }

  .home .left {
    text-align: center;
    justify-content: center;
  }

  .indent-text {
    padding-left: 0;
  }

  .zena {
    width: 50%;
  }
}
