
.header {
  font-size: var(--content);
}

.content {
  font-size: var(--description);
  line-height: 100%;
  color: var(--text);
}

@media (max-width: 768px) {
  .content {
    text-align: center;
  }

  .indent-text {
    padding-left: 0;
  }
}