nav {
  position: absolute;
  width: 100%;
  z-index: 100;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  padding: 0 40px 0 0;
}

nav a {
  display: flex;
}

nav li:first-child {
  margin-right: auto;
}

svg {
  cursor: pointer;
  color: var(--text);

  width: 2vw;
  max-width: 40px;
  min-width: 25px;
  height: auto;
}

img {
  width: 10vw;
  max-width: 200px;
  min-width: 100px;
  height: auto;
}
