.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: var(--background);
  scroll-snap-align: start;
}

.title {
  font-size: var(--title);
}

.highlight {
  color: var(--primary);
}

.indent-text {
  padding-left: 2.5vw;
}