.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  scroll-snap-align: start;
  transition: all 0.5s ease;
}

h1 {
  color: var(--text);
  transition: all 0.5s ease;
}
