.swiper {
  height: 100vh;
}

.swiper-slide {
  display: grid;
  place-items: center;
  background-color: var(--background);
}

.swiper-pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
  z-index: 10;
  cursor: pointer;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  display: block;
  margin: 10px 0;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: var(--accent);
  opacity: 0.75;
}

.swiper-pagination .swiper-pagination-bullet-active {
  height: 60px;
  background: var(--secondary);
}

.title {
  font-size: var(--title);
}

.highlight {
  color: var(--primary);
}

.indent-text {
  padding-left: 2.5vw;
}
